<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Chat</title>

    <style>
            .messages {
                margin-top: 30px;
                display: flex;
                flex-direction: column;
            }

            .message {
                border-radius: 20px;
                padding: 8px 15px;
                margin-top: 5px;
                margin-bottom: 5px;
                display: inline-block;
            }

            .yours {
                align-items: flex-start;
            }

            .yours .message {
            margin-right: 25%;
            background-color: #eee;
            position: relative;
            }

            .yours .message.last:before {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            left: -7px;
            height: 20px;
            width: 20px;
            background: #eee;
            border-bottom-right-radius: 15px;
            }
            .yours .message.last:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: -10px;
            width: 10px;
            height: 20px;
            background: rgb(212 212 216);
            border-bottom-right-radius: 10px;
            }

            .mine {
            align-items: flex-end;
            }

            .mine .message {
            color: white;
            margin-left: 25%;
            background: #0085D1;
            background-attachment: fixed;
            position: relative;
            }

            .mine .message.last:before {
            content: "";
            position: absolute;
            z-index: 0;
            bottom: 0;
            right: -8px;
            height: 20px;
            width: 20px;
            background: #0085D1;
            background-attachment: fixed;
            border-bottom-left-radius: 15px;
            }

            .mine .message.last:after {
            content: "";
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: -10px;
            width: 10px;
            height: 20px;
            background: rgb(212 212 216);
            border-bottom-left-radius: 10px;
            }

    </style>
</head>
<body>
    <div id="container" class="w-full flex flex-col h-screen relative">
        <%- include('partials/header') %>

        <div class="w-full hidden overflow-x-hidden fixed z-[9999] h-svh bg-gray-300">
            <div class="grid grid-cols-1 h-screen md:grid-cols-2" id="videos">
                <video class="w-full h-full object-cover bg-red-300" class="video-media" id="localVideo" autoplay playsinline></video>
                <video class="w-full h-full object-cover bg-yellow-300" class="video-media" id="remoteVideo" autoplay playsinline></video>
            </div>
            <div id="controls" class="absolute left-1/2 -translate-x-1/2 bottom-6 flex gap-4">
                <div class="control-container bg-gray-500 rounded-full p-3" id="muteVideo">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z"/></svg> -->
                    <svg  id="unmute" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z"/></svg>
                </div>
                <div class="control-container bg-red-600 rounded-full p-3" id="cancelCall">
                    <svg id="cancelCallIcon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="m136-304-92-90q-12-12-12-28t12-28q88-95 203-142.5T480-640q118 0 232.5 47.5T916-450q12 12 12 28t-12 28l-92 90q-11 11-25.5 12t-26.5-8l-116-88q-8-6-12-14t-4-18v-114q-38-12-78-19t-82-7q-42 0-82 7t-78 19v114q0 10-4 18t-12 14l-116 88q-12 9-26.5 8T136-304Zm104-198q-29 15-56 34.5T128-424l40 40 72-56v-62Zm480 2v60l72 56 40-38q-29-26-56-45t-56-33Zm-480-2Zm480 2Z"/></svg>
                </div>
                <div class="control-container bg-gray-500 rounded-full p-3" id="mic">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M360-320h80v-120h120v-80H440v-120h-80v120H240v80h120v120ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Zm0-80h480v-480H160v480Zm0 0v-480 480Z"/></svg>                    
                    
                    <svg class="hidden" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M880-260 720-420v67l-80-80v-287H353l-80-80h367q33 0 56.5 23.5T720-720v180l160-160v440ZM822-26 26-822l56-56L878-82l-56 56ZM497-577ZM384-464ZM160-800l80 80h-80v480h480v-80l80 80q0 33-23.5 56.5T640-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Zm80 480v-22q0-44 44-71t116-27q72 0 116 27t44 71v22H240Z"/></svg>
                </div>
            </div>
        </div>

        <div id="incoming-call"
            class="fixed hidden z-[222] w-full h-dvh bg-gray-900 bg-opacity-75 ">
            <div class="bg-white p-8 rounded-md text-center">
                <p class="mb-4">Incoming Call...</p>
                <button id="accept-call" class="bg-green-500 text-white py-2 px-4 rounded-md">Accept</button>
                <button id="reject-call" class="bg-red-500 text-white py-2 px-4 rounded-md ml-2">Reject</button>
            </div>
        </div>

        <div id="chatPage" class="flex-1 overflow-x-hidden w-full relative bg-zinc-300 p-2">
            <h2 class="absolute top-1/2 left-1/2 w-full text-center text-zinc-500 -translate-x-1/2 -translate-y-1/2 select-none nobody">Wait For Peer to Connect</h2>
            <!-- <div id="localMessage" class=" flex justify-end">
                <div class="w-30 p-3 bg-blue-400 rounded-full">
                    <p class="text-xl font-semibold">Hii Babes</p>
                </div>
            </div>
            <div id="recieveMessage" class=" flex justify-start">
                <div class="w-30 p-3 bg-blue-400 rounded-full">
                    <p class="text-xl font-semibold">Hii Bro</p>
                </div>
            </div> -->

            <div id="localMessage" class="mine messages">
                <div class="message last">
                    Dude
                </div>
            </div>
            <div id="remoteMessage" class="yours messages">
                <div class="message last">
                Hello, how's it going?
                </div>
            </div>
            
            
        </div>

        <form action="#" class="flex w-full py-4 bg-white sm:px-3">
            <input class="w-full py-2 outline-none text-xl px-1" type="text" placeholder="Enter Your Message">
            <button class="py-2 px-3 sm:px-5 text-xl rounded-md bg-blue-500 text-white font-bold flex items-center gap-2" type="submit">Send <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#fff"><path d="M120-160v-640l760 320-760 320Zm80-120 474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/></svg></button>
        </form>

    </div>
</body>
</html>